BASEURL = https://dev.paques.dev:1111

CHROME_PATH=driver/chromedriver.exe
WEBDRIVER_CHROME=webdriver.chrome.driver

## Credentials
PDS_NONADMIN_USERNAME=dikabrenda
PDS_NONADMIN_PASSWORD=Qwerty*123
PDS_INVALID_USERNAME =
PDS_INVALID_PASSWORD =