PDS_BASEURL=https://dev.paques.dev:1111
# PDS_BASEURL=https://192.168.210.170:1111
PCC_BASEURL=https://cloud.paques.dev

SELENIUM_GRID=http://192.168.210.86:4444

CHROME_PATH=driver/chromedriver.exe
WEBDRIVER_CHROME=webdriver.chrome.driver

# Credentials - Paques Data Studio (PDS)
PDS_NONADMIN_USERNAME=dika.brenda@paques.id
PDS_NONADMIN_PASSWORD=Qwerty*123

PDS_ADMIN_USERNAME=dikatama1627@gmail.com
PDS_ADMIN_PASSWORD=Dika!627

PDS_INVALID_USERNAME=thisinvaliduser
PDS_INVALID_PASSWORD=Qwerty*123

# Credentials - Paques Cloud Connect (PCC)
PCC_NONADMIN_USERNAME=dikabrenda01@mailnesia.com
PCC_NONADMIN_PASSWORD=qwerty*123

PCC_ADMIN_USERNAME=
PCC_ADMIN_PASSWORD=

PCC_INVALID_USERNAME=
PCC_INVALID_PASSWORD=

BROWSERSTACK_USERNAME=dika10
BROWSERSTACK_ACCESS_KEY=RUCfELKSBSpfaXH3p6kd


## Test Data
PDS_SEARCH_USERS_DATATABLE=dikabrenda01
PDS_SAVE_QUERY_NAME=automation_test


PDS_QUERY_PQL_SEARCH_FILE=search from file  '/Brenda_Test/paques_data.csv' into datapql