BASEURL = https://dev.paques.dev:1111


## Credentials
PDS_USERNAME = dikabrenda 
PDS_PASSWORD = Qwerty*123

CHROME_PATH=driver/chromedriver.exe
WEBDRIVER_CHROME=webdriver.chrome.driver

PDS_INVALID_USERNAME =
PDS_INVALID_PASSWORD =